.header {
    display: block;
    padding: 10px 10px;
    margin: 0 0;
    border-bottom: 2px solid #000;
}

.main-nav {
    display: block;
    float: right;
    margin: 0 0;
    padding: 0 0;
}

.nav-link {
    display: inline-block !important;
    padding: 10px;
    margin: 4px 0;
    text-decoration: none;
    color: #000;
}
.quotes::after {
    content: '';
    display: inline-block;
    width: 2px;
    height: 18px;
    background: #000;
    margin-left: 18px;
    vertical-align: middle;
}