.main-block {
    display: block;
}

.quotes-list {
    display: inline-block;
    width: 25%;
    margin: 10px 10px;
    padding: 0 0;
}

.list {
    display: block;
    padding: 5px;
    margin: 0 0;
    text-decoration: none;
    color: #000;
}

.list:hover {
    background: #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.quotes-block {
    display: inline-block;
    width: 60%;
    vertical-align: top;
}

.inner-quotes {
    display: block;
    padding: 10px 20px;
    margin: 10px 10px;
    border: 2px solid #000;
    position: relative;
}

.text {
    display: block;
    margin: 5px 0 0;
    padding: 0 0;
}

.author {
    display: block;
    margin: 0 0;
}

.author::before {
    content: '';
    width: 10px;
    height: 2px;
    display: inline-block;
    background: #000;
    vertical-align: middle;
    margin: 0 4px;
}

.title-category {
    display: block;
    margin: 10px 10px;
}

.make-change {
    position: absolute;
    top: 6px;
    right: 6px;
}

.delete-btn,
.edit {
    display: inline-block;
    margin: 0 2px;
    padding: 4px;
    background: transparent;
    border: none;
    font-size: 16px;
}

.delete-btn,
.edit:hover {
    cursor: pointer;
}
