.submit-block {
    display: block;
    margin: 10px 0;
    padding: 0 20px;
}

.save-btn {
    display: block;
    margin: 10px 0;
    padding: 4px 10px;
    background: #fff;
    border: 2px solid #000;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.7);
}